body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: white; 
}

.row { 
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    flex-wrap: wrap; 
}

.menu-item {
    width: 200px; 
    height: 150px; 
    background-color: #A52A2A; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px; 
    border: 5px solid #dddddd; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    overflow: hidden; 
    position: relative;
}
.menu-item:hover, .menu-item:focus-within { 
    /* Apply hover styles only if the item is not selected */
    border-color: red; 
    transform: scale(1.1); 
    box-shadow: 0 12px 24px rgba(255,0,0,0.4); 
    border-color: #FFD700; 
    background-color: #DAA520; 
    transform: scale(1.15); 
    box-shadow: 0 12px 24px rgba(218,165,32,0.4);
}

.selected { 
    border-color: #FFD700; 
    transform: scale(1.15); 
    box-shadow: 0 12px 24px rgba(218,165,32,0.4);
}

video { 
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    height: 120px;
    z-index: 1000;
    border: 3px solid #dddddd;
    border-radius: 8px;
    display: block; 
}

#start { 
    padding: 30px 50px; 
    font-size: 30px; 
    cursor: pointer;
    background-color: #00008B; 
    color: white; 
    border: none; 
    border-radius: 120px; 
    box-shadow: 0 9px 19px rgba(0,0,0,0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    outline: none; 
    text-transform: uppercase; 
    font-weight: bold; 
    letter-spacing: 1px;
}

#start:hover, #start:focus { 
    background-color: #ff0000; 
    box-shadow: 0 12px 24px rgba(255,0,0,0.4); 
    color: #ffffff; 
    transform: translateY(-2px); 
}

#start:active { 
    transform: translateY(1px); 
    box-shadow: 0 6px 12px rgba(255,0,0,0.4); 
}
